{% extends "base.html" %}
{% load l10n %}
{% load i18n %}

{% block title %}
  Thank you
{% endblock %}

{% block content %}
  <h1>Thank you</h1>
  <p>Your order has been successfully completed. Your order number is
    <strong>{{ order.id }}</strong> dated {{ order.created }}
  </p>
  <p>
    Payment:
    {% if order.paid %}
    <b class="text-success"> PAID</b>
    {% else %}
    <b class="text-danger"> PENDING</b>
    {% endif %}
  </p>

  <p>You can check all your orders <a href="{% url 'orders:myorders' %}">here</a>.</p>
{% endblock %}