{% extends "base.html" %}

{% block title %}
  {{ product.name }}
{% endblock title %}

{% block content %}
  <div class="row mx-auto">
    <div class="col-xs-12 col-sm-4 col-lg-4 text-center">
      <img src="{{ product.image.url }}" class="img-thumbnail rounded" width="300px">
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
      <h1 class="text-capitalize text-center">{{ product.name }}</h1>
      <h2>
        <a href="{{ product.category.get_absolute_url }}">
          {{ product.category }}
        </a>
      </h2>
      <h4 class="mb-2"> <strong>${{ product.price }}</strong></h4>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart" class="btn btn-info">
      </form>
      <p>
        {{ product.description|linebreaks }}
      </p>
    </div>
  </div>
{% endblock content %}