.neg{
  color: red;
  font-weight: bold;
}

.num{
  font-weight: bold;
}

.subtotal{
  background-color: rgb(176, 193, 199);
  font-weight: bold;;
}

.total{
  background-color: #007BFF; 
  color: #fff;
}